<div class="card mb-2">
  <div class="card-header">
    <div class="d-grid">
        <a href="/post/{{id}}" class="btn btn-secondary text-white fs-1" type="button" style="text-decoration:none">{{title}}</a>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{description}} id: <a id="delVal">{{id}}</a></p>
    <p class="card-text"> Created By <b>{{user.name}} </b> on {{date_created}}</p>
    <div class="mx-auto m-2">
      <a href="/dashboard/{{id}}"  class="col-3 btn btn-success" type="button">EDIT POST</a>
    </div>   
</div>

